/* ====== メインコンテンツ ====== */

/* ==　自己紹介 == */
#profile-text{
    max-width: 80%; /* 画面幅の最大80%まで広がる */
    width: 1000px; /* 最小時の基準 */
    margin: 0 auto; /* 左右の中央寄せ */
    padding: 60px 30px 0px;
}
.group1{
    max-width: 80%; /* 画面幅の最大80%まで広がる */
    width: 1000px; /* 最小時の基準 */
    margin: 0 auto; /* 左右の中央寄せ */
    padding: 30px;
}
#name{
    padding-left: 10px;
    padding-bottom: 10px;
}