body {
    background-color: #eeeeee;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
    font-size: 30px;
}

p {
    color: black;
    font-size: 18px;
}

a {
    color: red;
    font-weight: bold;
}
